<div class="winners-list">
	<h2 mat-subheader
			class="winners-list-title">{{champion?.season}} race winners</h2>
	<table mat-table multiTemplateDataRows
		class="winners-list-table"
		[dataSource]="sortedList"
		matSort (matSortChange)="sortData($event)"
		matSortActive="round"
		matSortDirection="asc"
		matSortDisableClear="true">
		<ng-container matColumnDef="round">
			<th mat-header-cell *matHeaderCellDef>
				<span mat-sort-header>Round</span>
			</th>
			<td mat-cell *matCellDef="let winner">
				{{winner.Race.round}}
			</td>
		</ng-container>
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>
				<span mat-sort-header>Name</span>
			</th>
			<td mat-cell *matCellDef="let winner" class="winners-list-name">
				{{winner.fullName}}
			</td>
		</ng-container>
		<ng-container matColumnDef="race">
			<th mat-header-cell *matHeaderCellDef>
				<span mat-sort-header>Race</span>
			</th>
			<td mat-cell *matCellDef="let winner">
				{{winner.Race.raceName}}
			</td>
		</ng-container>
		<ng-container matColumnDef="time">
			<th mat-header-cell *matHeaderCellDef>
				<span>Time</span>
			</th>
			<td mat-cell *matCellDef="let winner">
				{{winner.Time.time}}
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
		<tr mat-row *matRowDef="let winner; columns: displayedColumns"
			[class.highlighted]="isChampion(winner)"></tr>
	</table>
</div>
