@import '../../shared.scss';

.winners-list {
	&-title {
		color: #0000008a;
		margin: 0;
		font-family: Roboto,"Helvetica Neue",sans-serif;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
	}

	&-table {
		width: 100%;
	}

	.highlighted {
		background-color: $highlight-color;
	}
}
