<div class="f1">
	<f1-champions
			class="f1-list f1-champions"
			[list]="champions"
			[season]="season"
			(seasonChanged)="onSeasonChanged($event)">
	</f1-champions>
	<button mat-button
		[disabled]="!moreYearsAvailable()"
		class="f1-more"
		(click)="loadMore()">more..</button>
	<f1-race-winners
			[@refreshUpdated] = "seasonState"
			*ngIf="season"
			class="f1-list f1-race-winners"
			[list]="seasonRaceWinners"
			[champion]="seasonChampion">
	</f1-race-winners>
</div>
