@import 'shared.scss';

.f1 {
	height: 100%;

	&-list {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		height: 100%;
		overflow: auto;
	}

	&-champions {
		height: calc(100% - 40px);
	}

	&-more {
		position: absolute;
		bottom: 10px;
		left: 25%;
		margin-left: -20px;
	}

	&-race-winners {
		border-left: $border;
		margin-left: -1px;
		// transition: transform 1s;
		// transform: rotateY(90deg);

		&-update {
			// transform: rotateY(80deg);
		}
	}
}

@media only screen and (max-width: 900px) {
	.f1 {
		&-list {
			width: 100%;
			height: auto;
		}

		&-more {
			position: relative;
			bottom: auto;
			left: 50%;
		}

		&-race-winners {
			border-left: auto;
			margin-left: auto;
		}
	}
}
