@import '../../shared.scss';

.champions-list {
	&-title {
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
	}

	&-item {
		cursor: pointer;
		position: relative;
		left: 0;
		background-color: #FFFFFF;
		border-bottom: $border;
		font-size: 14px;

		&.selected {
			background-color: $list-color;
			color: $selected-item-color;

			&:hover {
				background-color: $list-color;
			}
		}

		&:hover {
			background-color: $highlight-color;
		}

		.champions-list-item-season {
			display: inline-block;
			width: 5em;
		}
	}
}
