<mat-list class="champions-list">
	<h2 mat-subheader class="champions-list-title">F1 Champions</h2>
	<mat-list-item class="champions-list-item"
			*ngFor="let champion of list"
			[class.selected]="champion.season === season"
			title="{{champion.fullName}}" (click)="seasonChanged.emit(champion.season)">
		<div mat-line>
			<span class="champions-list-item-season">{{champion.season}}</span>
			<span class="champions-list-item-full-name">{{champion.fullName}}</span>
		</div>
	</mat-list-item>
</mat-list>
